@charset "utf-8";

body{
    margin: 0px;
    font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
}

/*ヘッダー*/
header{
position: absolute;
z-index: 100;
width: 100%;
background-color: rgba(255,255,255,0.97);
}

/*ヘッダーの固定*/
.head-fixed {
    position: fixed;
}

/*ヘッダーA：　サイト名*/
.headA{
display: inline-block;
line-height: 60px;
padding-left: 10px;
padding-right: 10px;
background-color: #000;
font-family: 'Montserrat'sans-serif;
font-size: 22px;
text-decoration: none;
color: #fff;
}

/*ヘッダーB　ナビゲーションメニュー*/
.headB ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family:fantasy;
    text-align: center;
}

/*上のコンテンツ*/
.headB a{
    display: block;
    padding: 12px;
    color: inherit;
    font-size: 22px;
    text-decoration:none;
}

.headB a:hover{
    background-color: rgba(0,0,0,0.3);
}

.headB p1{
    font-size: 15px;
}

@media (min-width: 768px){
    header .container{
        display: flex;
        align-items:center;
        justify-content: space-between;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
    
    .headB ul{
        display: flex;
    }
    
    .headB_zoku {
        display: none;
    }
}

/*ヘッダーC　トルクボタン*/
@media (max-width:767px){
    /*小さい画面*/
    header .container-small{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .headC{
     margin-right: 10px;
        padding: 0;
        border: none;
        outline: none;
        background: none;
        font-size: 29px;
        opacity: 0.6;
        cursor: pointer;
    }
    
    .headC:hover{
        opacity: 0.3;
    }
    
    .headB {
        display: none;
    }
    
    .headB a{
        margin-top: 5vw;
        margin-bottom:9.2%;
    }
    
    .headB_zoku{
        line-height: 4vw;
        text-align: center;
    }
    
}

/*大きい画面のヘッダー*/
@media (min-width:768px) {
    /*大きい画面*/
    .headC {
        display: none;
    }
    
    .headB {
        display: block !important;
    }
}

/*　メイン文字　*/
.conA{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    min-height: 450px;
    background-image: url(../image/umi.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
}

.conA h1{
    margin-top: 2;
    margin-bottom: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size:12vw;
    
}

.conA p{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.conA a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 3px #fff;
    border-radius: 6px;
    font-size: 15px;
    text-decoration: none;
    font-family: serif;
    color: #fff;
    
}

.conA a:hover{
    background-image:linear-gradient(
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3)
    );
}

@media (min-width:768px){
    .conA h1 {
        font-size: 6.5vw;    
    }
    
    .conA p {
        font-size: 24px;
    }
}

.icon0{
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ffcc90;
    color: #fff;
    margin-top: 10px;
    margin-left: 30px;
}

/*コンテンツCショップ概要*/
.conB{
    background-color: #ddffff;
    color:#000;
    
}

.conB h2{
    margin-top: 9px;
    margin-bottom: 20px;
    font-size: 23px;
    color: aliceblue;
}

.conB p{
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 15.8px;
    line-height: 1.8;
    opacity: 0.8;
    color: aliceblue;
}

.conB a{
    width:  9.4vw;
    display: inline-block;
    margin-top: 10px;
    margin-left: 22%;
    padding: 10px 20px;
    border: solid 3px #fff;
    border-radius: 6px;
    font-size: 0.85vw;
    text-decoration: none;
    font-family: serif;
    color: #fff;
    
}

.conB a:hover{
    background-image:linear-gradient(
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.3)
    );
}

@media(max-width:768px){
    .conB a{
        margin-left: 20%;
    }
}

.conB .photo{
    min-height: 200px;
    background-image: url(../image/main01.png);
    background-position: center;
    background-size: cover;
    margin: 5px;
}

.conB .text{
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
    
}

/*最高のダイビング・・・*/
@media(min-width:768px){
    .conB .container{
        display: flex;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .conB .photo{
        flex: 3;
    }
    
    .conB .text{
        flex: 2;
        padding: 50px;
    }
}


/*ダイビングショップアイコン*/
.icon1{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 15px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #136fff;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
}
/*魚アイコン*/
.icon2{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 15px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: aqua;
    color:cornsilk;
    margin-top: 5px;
    margin-left: 20px;
}
/*ホームアイコン*/
.icon3{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 15px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color:#ffcc90;
    color: #fff;
    margin-top: 5px;
    margin-left: 20px;
}
/*食事アイコン*/
.icon4{
    display: inline-block;
    margin-bottom: 0px;
    font-size: 15px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color:coral;
    color:beige;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
/*記事アイコン*/
.icon5 {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 15px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    color:#fff;
    text-align: center;
    background-color:#999999;
    margin-top: 5px;
}

/*トップに移動するボタン*/
#page_top{
  width: 100px;
  height: 60px;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  background: #000;
  opacity: 0.9;
  border-radius: 15px;
    z-index: 96;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 60px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: '\f102';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -25px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after{
  content: 'PAGE TOP';
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 30px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

/*WONDERFUL SEAの4つのこだわり大きい画面*/
@media(min-width:768px){
    /*こだわり紹介全体*/
    .tokutyou{
        position: relative;
        padding: 2vw;
        height: 34vw;
        background-image: url(../image/nuno.jpg);
        background-size: cover;
        background-position: center;
    }
    
    /*こだわり紹介メイン*/
    .shoukai001{
        width:60vw;
        text-align: center;
        height: 4vw;
        top: 5vw;
        margin-right: auto;
        margin-left: auto;
        font-size: 2.7vw;
        font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
    }
    
    /*こだわりタイトル*/
    .hai{
        width: 19.3vw;
        height: 2vw;
        text-align: center;
        font-size: 1.3vw;
    }
    
    /*こだわり4種類全て*/
    .tyuuu{
        margin-top: 2vw;
        width: 19.3vw;
        height: 28vw;
        margin-left: 3.5vw;
        float: left;
    }
    
    .tyou{
        margin-top: 0vw;
        width: 19.3vw;
        height: 24vw;
        float: left;
        border: solid 0.2vw #000;
        border-radius: 13px;
        background-image:url(../image/TOP.jpg);
        background-position: center;
        background-size: cover;
    }/*安心画像*/
    .tyou2{
        margin-top: 0vw;
        width: 19.3vw;
        height: 24vw;
        float: left;
        border: solid 0.2vw #000;
        border-radius: 13px;
        background-image:url(../image/FAN.jpg);
        background-position: center;
        background-size: cover;
    }/*少数画像*/
    .tyou3{
        margin-top: 0vw;
        width: 19.3vw;
        height: 24vw;
        float: left;
        border: solid 0.2vw #000;
        border-radius: 13px;
        background-image:url(../image/omise.jpg);
        background-position: center;
        background-size: cover;
    }/*親しみ画像*/
    .tyou4{
        margin-top: 0vw;
        width: 19.3vw;
        height: 24vw;
        float: left;
        border: solid 0.2vw #000;
        border-radius: 13px;
        background-image:url(../image/shokuji.jpg);
        background-position: center;
        background-size: cover;
    }/*お食事画像*/
    
    /*こだわり紹介文*/
    .tooku01,.tooku02,.tooku03,.tooku04{
        display: none;
        position: absolute;
        padding: 0.6vw;
        margin-top: 1vw;
        margin-left: 0.5vw;
        width: 16.9vw;
        background-color: #0009;
        color: #fff;
        font-size: 1vw;
        font-family: serif;
    }
    
    /*紹介文が出てくるボタン*/
    .purasu{
        position: relative;
        width: auto;
        height: 5vw;
        background-color:#0007;
        margin-top: 19vw;
        text-align: center;
        border-radius:8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: #fff;
        font-size: 3.5vw;  
    }
    .komono01,.komono02,.komono03,.komono04{
        padding: 0;
        border: none;
        font-size: 29px;
        opacity: 1;
        cursor: pointer;
        font-size: 3.5vw;
        color: #ffff;
        background-color:#0000;
    }  
}

p17{
        font-family:'Montserrat',sans-serif;
    }

/*WONDERFUL SEAの4つのこだわり小さい画面*/
@media(max-width:767px){
    /*こだわり紹介全体*/
    .tokutyou{
        position: relative;
        padding: 3vw;
        height: 330vw;
        background-image: url(../image/nuno.jpg);
        background-size: cover;
        background-position: center;
    }
    
    /*こだわり紹介全体*/
    .shoukai001{
        width:80vw;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        font-size: 7vw;
        font-family:'メイリオ','Hiragino Kaku Gothic Pro',sans-serif;
    }
    
    /*こだわり4種類全て*/
    .tyuuu{
        width: 93vw;
        margin-top: 8vw;
        margin-left: auto;
        margin-right: auto;
    }
    
    /*こだわりタイトル*/
    .hai{
        width: 93vw;
        height: 7vw;
        text-align: center;
        font-size: 5vw;
    }
    
    .tyou{
        width: 91.5vw;
        height: 60vw;
        border: solid 0.6vw #000;
        border-radius: 13px;
        background-image:url(../image/TOP.jpg);
        background-position: center;
        background-size: cover;
    }/*安心画像*/
    .tyou2{
        width: 91.5vw;
        height: 60vw;
        border: solid 0.6vw #000;
        border-radius: 13px;
        background-image:url(../image/FAN.jpg);
        background-position: center;
        background-size: cover;
    }/*少数画像*/
    .tyou3{
        width: 91.5vw;
        height: 60vw;
        border: solid 0.6vw #000;
        border-radius: 13px;
        background-image:url(../image/omise.jpg);
        background-position: center;
        background-size: cover;
    }/*親しみ画像*/
    .tyou4{
        width: 91.5vw;
        height: 60vw;
        border: solid 0.6vw #000;
        border-radius: 13px;
        background-image:url(../image/shokuji.jpg);
        background-position: center;
        background-size: cover;
    }/*お食事画像*/
    
     /*こだわり紹介文*/
    .tooku01,.tooku02,.tooku03,.tooku04{
        display: none;
        position: absolute;
        padding: 0.6vw;
        margin-top: 2.5vw;
        margin-left: 2vw;
        width: 86vw;
        border-radius: 10px;
        background-color: #0009;
        color: #fff;
        font-size: 3.71vw;
        font-family: serif;
    }
    
    /*紹介文が出てくるボタン*/
    .purasu{
        position: relative;
        width: auto;
        height: 15vw;
        background-color:#0007;
        margin-top: 45vw;
        text-align: center;
        border-radius:8px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        color: #fff;
        font-size: 6vw;  
    }
    .komono01,.komono02,.komono03,.komono04{
        padding: 0;
        border: none;
        font-size: 29px;
        opacity: 1;
        cursor: pointer;
        font-size: 13vw;
        color: #ffff;
        background-color:#0000;
    } 
     
}

/*大きい画面のDIVINGトップページ*/
@media(min-width:768px){
    /*大きい画面のダイビング*/
    .DIVING{
        width: 100%;
        height: 40vw;
        border: solid 0.3vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 0.9vw;
    }
    
    /*大きい画面サイズ*/
    .DI001{
        position: relative;
        width: 100%;
        height: 35vw;
        background-image:url(../image/DI_haikei.jpg);
        background-size: cover;
        background-position: bottom;
    }
    
    /*DIVING & HOTEL の文字*/
    .mo01,.mo03{
        float: left;
        position: absolute;
        width: 21vw;
        margin-top: 23vw;
        margin-left: 2vw;
        font-family: fantasy;
        color: #fffa;
        font-size: 7vw;
    }
    
    p18{
        font-size: 9vw;
    }
    
    /*次ページの白枠*/
    .tugipe01{
        position: relative;
        float: right;
        width: 25%;
        height:100%;
        background-color: #fff7;
    }
    /*次のページへのボタン欄*/
    .tugino01{
        text-align: center;
        width: 20vw;
        height: 15vw;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-family: fantasy;
        font-size: 2vw;
        line-height: 6vw;
    }
    /*次へのアイコン、サイズ*/
    .tugino01 i{
        font-size: 8.5vw;
        color: #fff;
    }
    .tugino01 i:hover{
        color:#000;
    }
    
    p19{
        font-size: 1.4vw;
    }
    
    /*下のダイビングの種類*/
    .sitabu{
        width: 100%;
        height: 5vw;
    }
    
    /*種類*/
    .sita01{
        width: 25%;
        height: 5vw;
        float: left;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/maou.jpg);
        background-position:bottom;
        background-size: cover;
        font-family: "M PLUS Rounded 1c";
        font-size: 2vw;
        color: #fff;
        text-align: center;
        line-height:2.8;
    }
    .sita02{
        width: 25%;
        height: 5vw;
        float: left;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/DAI004.jpg);
        background-position:center;
        background-size: cover;
        font-family: "M PLUS Rounded 1c";
        font-size: 2vw;
        color: #fff;
        text-align: center;
        line-height:2.8;
    }
    .sita03{
        width: 25%;
        height: 5vw;
        float: left;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/awa.jpg);
        background-position:center;
        background-size: cover;
        font-size: 2vw;
        color: #fff;
        text-align: center;
        font-family: "M PLUS Rounded 1c";
        line-height:2.8;
    }
    .sita04{
        width: 25%;
        height: 5vw;
        float: left;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/DAI001.jpg);
        background-position:center;
        background-size: cover;
        font-size: 2vw;
        color: #fff;
        text-align: center;
        font-family: "M PLUS Rounded 1c";
        line-height:2.8;
    }
}

/*小さい画面のDIVINGトップページ*/
@media(max-width:767px){
    /*大きい画面のダイビング*/
    .DIVING{
        width: 100%;
        height: 142.5vw;
        border: solid 1vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 3vw;
    }
    
    /*小さい画面サイズ*/
    .DI001{
        position: relative;
        width: 100%;
        height: 90vw;
        background-image:url(../image/DI_haikei.jpg);
        background-size: cover;
        background-position: bottom;
    }
    
    /*DIVINGの文字*/
    .mo01,.mo03,.mo05{
        float: left;
        position: absolute;
        width: 38vw;
        margin-top: 72vw;
        margin-left: 2vw;
        font-family:fantasy;
        color: #fffa;
        font-size: 10vw;
    }
    
    p18{
        font-size: 13vw;
    }
    
    /*次ページの白枠*/
    .tugipe01{
        position: relative;
        float: right;
        width: 30%;
        height:100%;
        background-color: #fff7;
    }
    .tugipe03,.tugipe05{
        position: relative;
        float: right;
        width: 35%;
        height:100%;
        background-color: #fff7;
    }
    
    /*次のページへのボタン欄*/
    .tugino01{
        text-align: center;
        width: 80%;
        height: 15vw;
        margin-top: 8vw;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        font-family: fantasy;
        font-size: 5vw;
        line-height: 9vw;
    }
    /*次へのアイコン、サイズ*/
    .tugino01 i{
        font-size: 15vw;
        color: #fff;
    }
    .tugino01 i:hover{
        color:#000;
    }
    
    /*下のダイビングの種類*/
    .sitabu{
        width: 100%;
    }
    
     /*種類*/
    .sita01{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/maou.jpg);
        background-position:bottom;
    }
    .sita02{
        width: 100%;
        height: 9vw;
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/taiken01.jpg);
        background-position:bottom;
    }
    .sita03{
        width: 50%;
        height: 26vw;
        background-size: cover;
        font-size: 4.5vw;
        font-family: "M PLUS Rounded 1c";
        color: #fff;
        float: left;
        text-align: center;
        line-height:6;
        background-image:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.0)),url(../image/awa.jpg);
        background-position:center;
        
    }
    
    p25{
        font-size:4vw;
    }
    
    .sita04{
        background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/DAI001.jpg);
        background-position:center;
    }
    
    .sita01,.sita02,.sita04{
        width: 50%;
        height: 26vw;
        background-size: cover;
        font-size: 5vw;
        font-family: "M PLUS Rounded 1c";
        color: #fff;
        float: left;
        text-align: center;
        line-height:5;
    }
}

/*大きい画面のFISHトップページ*/
@media(min-width:768px){
    /*大きい画面のフィッシュ*/
    .FISH{
        width:100%;
        height:41vw;
        border: solid 0.3vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 0.9vw;
    }
    
    /*大きい画面*/
    .FI001{
        width: 100%;
        height:35vw;
        background-image: url(../image/FI_haikei.jpg);
        background-size: cover;
        background-position: center;
        
    }
    
    /*次ページの白枠*/
    .tugipe02{
        position: relative;
        float: left;
        width: 25%;
        height:100%;
        background-color: #fff8;
    }
    /*次のページへのボタン欄*/
    .tugino02,.tugino03{
        text-align: center;
        width: 14vw;
        height: 29vw;
        margin-top: 2vw;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        font-family: fantasy;
        font-size: 2vw;
        line-height: 6vw;
    }
    /*次へのアイコン、サイズ*/
    .tugino02 i{
        font-size: 10vw;
        color: #fff;
    }
    .tugino02 i:hover{
        color:#000;
    }
    
    p20{
        font-size: 3vw;
    }
    
    .mo02,.mo04{
        float:right;
        position:relative;
        width: 22vw;
        height: 9vw;
        margin-top: 22vw;
        margin-right: 2vw;
        font-family: fantasy;
        color: #fffa;
        font-size: 7vw;
    
    }
    
    /*下の魚の種類*/
    .sitabu02{
        width: 100%;
        height: 6vw;
    }
    
    .gyo01{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/manta01.jpg);
    }
    .gyo02{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/umigame02.jpg);
    }
    .gyo03{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/rounin.jpg);
    }
    .gyo04{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/ei04.jpg);
    }
    .gyo05{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/hosoka05.jpg);
    }
    .gyo06{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/sazanami06.jpg);
    }
    .gyo07{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/akane07.jpg);
    }
    .gyo08{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/oniokoze08.jpg);
    }
    .gyo09{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/sinnderera09.jpg);
    }
    .gyo10{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/tubame10.jpg);
    }
    .gyo11{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kumanomi11.jpg);
    }
    .gyo12{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/nanyou12.jpg);
    }
    .gyo13{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kaeruanko13.jpg);
    }
    .gyo14{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/akebono14.jpg);
    }
    .gyo15{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/gurukuma15.jpg);
    }
    .gyo16{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/hanagoi16.jpg);
    }
    .gyo17{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/tyoutyouo17.jpg);
    }
    .gyo18{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kasago18.jpg);
    }
    .gyo19{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/houseki19.jpg);
    }
    .gyo20{
        background-color:#000;
    }
    .gyo01,.gyo02,.gyo03,.gyo04,.gyo05,.gyo06,.gyo07,.gyo08,.gyo09,.gyo10,.gyo11,.gyo12,.gyo13,.gyo14,.gyo15,.gyo16,.gyo17,.gyo18,.gyo19,.gyo20{
        text-align: center;
        width: 10%;
        height: 3vw;
        float: left;
        line-height: 3vw;
        background-size: cover;
        background-position: center;
        font-family: serif;
        color: #fff;
        font-size: 0.9vw;
    }
}

/*小さい画面のFISHトップページ*/
@media(max-width:767px){
    /*大きい画面のフィッシュ*/
    .FISH{
        width:100%;
        height:140.5vw;
        border: solid 1vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 3vw;
    }
    /*大きい画面*/
    .FI001{
        width: 100%;
        height:80vw;
        background-image: url(../image/FI_haikei.jpg);
        background-size: cover;
        background-position: center;
        
    }
    
    /*次ページの白枠*/
    .tugipe02{
        position: relative;
        float: left;
        width: 35%;
        height:100%;
        background-color: #fff8;
    }
    /*次のページへのボタン欄*/
    .tugino02,.tugino03{
        text-align: center;
        width: 80%;
        height: 85%;
        margin-top: 8vw;
        margin-left: auto;
        margin-right: auto;
        color: #000;
        font-family: fantasy;
        line-height:14vw;
    }
    /*次へのアイコン、サイズ*/
    .tugino02 i{
        font-size: 18vw;
        color: #fff;
    }
    .tugino02 i:hover{
        color:#000;
    }
    
    p20{
        font-size: 6vw;
    }
    
    .mo02{
        float:right;
        position:relative;
        width: 25vw;
        margin-top: 60vw;
        margin-right: 2vw;
        font-family: fantasy;
        color: #fffc;
        font-size: 10vw;
    
    }
    
    /*下の魚の種類*/
    .sitabu02{
        width: 100%;
        height: 60vw;
    }
    
    .gyo01{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/manta01.jpg);
    }
    .gyo02{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/umigame02.jpg);
    }
    .gyo03{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/rounin.jpg);
    }
    .gyo04{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/ei04.jpg);
    }
    .gyo05{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/hosoka05.jpg);
    }
    .gyo06{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/sazanami06.jpg);
    }
    .gyo07{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/akane07.jpg);
    }
    .gyo08{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/oniokoze08.jpg);
    }
    .gyo09{
        text-align: center;
        width: 25%;
        height: 12vw;
        float: left;
        font-size: 2.7vw;
        line-height: 11vw;
        background-size: cover;
        background-position: center;
        font-family: serif;
        color: #fff;
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/sinnderera09.jpg);
    }
    .gyo10{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/tubame10.jpg);
    }
    .gyo11{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kumanomi11.jpg);
    }
    .gyo12{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/nanyou12.jpg);
    }
    .gyo13{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kaeruanko13.jpg);
    }
    .gyo14{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/akebono14.jpg);
    }
    .gyo15{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/gurukuma15.jpg);
    }
    .gyo16{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/hanagoi16.jpg);
    }
    .gyo17{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/tyoutyouo17.jpg);
    }
    .gyo18{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/kasago18.jpg);
    }
    .gyo19{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/houseki19.jpg);
    }
    .gyo20{
        background-color: #3bfa;
    }
    .gyo01,.gyo02,.gyo03,.gyo04,.gyo05,.gyo06,.gyo07,.gyo08,.gyo10,.gyo11,.gyo12,.gyo13,.gyo14,.gyo15,.gyo16,.gyo17,.gyo18,.gyo19,.gyo20{
        text-align: center;
        width: 25%;
        height: 12vw;
        float: left;
        font-size: 2.9vw;
        line-height: 12vw;
        background-size: cover;
        background-position: center;
        font-family: serif;
        color: #fff;
    }
}

/*大きい画面のHOTELトップページ*/
@media(min-width:768px){
    /*大きい画面のホテル*/
    .HOTEL{
        width: 100%;
        height: 40vw;
        border: solid 0.3vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 0.9vw;
    }
    
    /*大きい画面サイズ*/
    .HO001{
        position: relative;
        width: 100%;
        height: 35vw;
        background-image:url(../image/hotel01.jpg);
        background-size: cover;
        background-position:center;
    }
    
    /*次ページの白枠*/
    .tugipe03{
        position: relative;
        float: right;
        width: 25%;
        height:100%;
        background-color: #fff8;
    }
    /*次へのアイコン、サイズ*/
    .tugino03 i{
        font-size: 10vw;
        color: #fff;
    }
    .tugino03 i:hover{
        color:#000;
    }
    
    /*下部分*/
    .sitabu03,.sitabu04{
        width: 100%;
        height: 5vw;
    }
    
    .hun01,.hun02{
        width: 50%;
        height: 5vw;
        float: left;
        background-size: cover;
        background-position: center;
        font-family: serif;
        font-size: 2.5vw;
        text-align: center;
        line-height:2.5;
    }
    .hun01{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/omise02.jpg);
    }
    .hun02{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/huniki_01.png); 
    }
}

/*小さい画面のHOTELトップページ*/
@media(max-width:767px){
    /*大きい画面のホテル*/
    .HOTEL{
        width: 100%;
        height: 130.5vw;
        border: solid 1vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 3vw;
    }
    
    /*小さい画面サイズ*/
    .HO001{
        position: relative;
        width: 100%;
        height: 90vw;
        background-image:url(../image/hotel01.jpg);
        background-size: cover;
        background-position: bottom;
    }
    
    /*次へのアイコン、サイズ*/
    .tugino03 i{
        font-size: 18vw;
        color: #fff;
    }
    .tugino03 i:hover{
        color:#000;
    }
    
    .hun01,.hun02{
        width: 50%;
        height: 40vw;
        float: left;
        background-size: cover;
        background-position: center;
        font-family: "M PLUS Rounded 1c";
        font-size: 7vw;
        text-align: center;
        line-height:6;
    }
    .hun01{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/omise02.jpg);
    }
    .hun02{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/huniki_01.png); 
    }
}

/*大きい画面のMEALトップページ*/
@media(min-width:768px){
    /*大きい画面の食事*/
    .MEAL{
        width: 100%;
        height: 40vw;
        border: solid 0.3vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 0.9vw;
    }
    
    /*大きい画面サイズ*/
    .ME001{
        position: relative;
        width: 100%;
        height: 35vw;
        background-image:url(../image/shokuji02.jpg);
        background-size: cover;
        background-position:center;
    }
    
    .shoku01,.shoku02{
        width: 50%;
        height: 5vw;
        float: left;
        background-size: cover;
        background-position: center;
        font-family: "M PLUS Rounded 1c";
        font-size: 2.5vw;
        text-align: center;
        line-height:2.5;
    }
    .shoku01{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/shokuji03.jpg);
    }
    .shoku02{
        background-image:linear-gradient(rgba(255,255,255,0.4),rgba(255,255,255,0.0)),url(../image/shokuji.jpg); 
    }
}

/*小さい画面のMEALトップページ*/
@media(max-width:767px){
    /*小さい画面の食事*/
    .MEAL{
        width: 100%;
        height: 130.5vw;
        border: solid 1vw #000;
        border-right: 0px;
        border-left: 0px;
        margin-bottom: 3vw;
    }
    
    /*小さい画面サイズ*/
    .ME001{
        position: relative;
        width: 100%;
        height: 90vw;
        background-image:url(../image/shokuji02.jpg);
        background-size: cover;
    }
    
    .mo04{
        float:right;
        position:relative;
        width: 36vw;
        height: 16vw;
        margin-top: 72vw;
        margin-right: 2vw;
        font-family: fantasy;
        color: #000a;
        font-size: 10vw;
    
    }
    
    .shoku01,.shoku02{
        width: 50%;
        height: 40vw;
        float: left;
        background-size: cover;
        background-position: center;
        font-family: "M PLUS Rounded 1c";
        font-size: 7vw;
        text-align: center;
        line-height:6;
    }
    .shoku01{
        background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),url(../image/shokuji03.jpg);
    }
    .shoku02{
        background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.0)),url(../image/shokuji.jpg);
    }
}

/*大きい画面のインフォメーショントップページ*/
@media(min-width:421px){
    .INFORMATION{
        width: 100%;
        height: 45.2vw;
        border: solid 0.3vw #000;
        border-right: 0px;
        border-left: 0px;
        
    }
    
    /*左側のインフォメーショントップ*/
    .information{
        width: 100%;
        height: 35vw;
    }
    
    /*大きい画面サイズ*/
    .IN001{
        position: relative;
        width: 100%;
        height: 35vw;
        background-image: url(../image/tenki.jpg);
        background-position: center;
        background-size: cover;
    }
    /*INFORMATIONの文字の位置*/
    .mo05{
        position: absolute;
        font-size: 6vw;
        font-family: fantasy;
        width: 35vw;
        margin-top: 24vw;
        margin-left: 1vw;
        color: #fffc;
    }
    
    /*次ページの白枠*/
    .tugipe05{
        float: right;
        width:20%;
        height: 100%;
        background-color: #fff8;
    }
    .tugino05{
        width: 80%;
        margin-top: 1vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 3vw;
        text-align: center;
        line-height: 2.5;
    }
    .tugino05 i{
        font-size: 8vw;
        color: #fff;
    }
    .tugino05 i:hover{
        color: #000;
    }
    /* 電話欄*/
    .denwa{
        position: relative;
        width: 100%;
        height: 5vw;
    }
    
    /*電話＆時間記載*/
    .otoi01{
        float: left;
        width: 30%;
        height: 5vw;
        text-align: center;
        font-size: 1.3vw;
        font-family: serif;
        line-height: 4.2;
    }
    .otoi02{
        font-family: serif;
        float: left;
        text-align: center;
        font-size: 1vw;
        width: 39%;
        height: 4.4vw;
        padding: 0.2vw;
        line-height: 0.6;
    }
    
    /*電話の黒枠*/
    .waku01{
        position: relative;
        margin-top: 0.15vw;
        border: solid 0.1vw #000;
        height: 4vw;
        border-radius: 10px;
    }
    
    .otoi02 i{
        display: inline-block;
        font-size: 0.9vw;
        width: 2vw;
        line-height: 2vw;
        margin-top: 0.2vw;
        margin-bottom: 0.4vw;
        border-radius: 50%;
        text-align: center;
        background-color:#000a;
        color: #fff;
    }
    .otoi02 a{
        text-decoration: none;
        font-size: 1.8vw;
        color: #000;
    }
    .otoi02 a:hover{
        color:cornflowerblue;
    }
    
    .otoi03{
        float: left;
        width: 29.3%;
        height: 4vw;
        font-family: serif;
        font-size: 0.9vw;
        line-height: 1.9;
        padding: 0.6vw;
    }

    .sa-bi01{
        width: 25%;
        height: 5vw;
        float: left;
        background-size: cover;
        font-family: "M PLUS Rounded 1c";
        background-position:center;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/otooku.jpg);
        font-size: 2vw;
        color: royalblue;
        text-align: center;
        line-height:2.8;
    }
    .sa-bi02{
        background-position:center;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/tizu01.png);
    }
    .sa-bi03{
        background-position: center;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/masa-ji.jpg);        
    }
    .sa-bi04{
        background-position:center;
        background-image:linear-gradient(rgba(255,255,255,0.6),rgba(255,255,255,0.0)),url(../image/tenki02.jpg);
    }
    
    .sa-bi02,.sa-bi03,.sa-bi04{
        width: 25%;
        height: 5vw;
        float: left;
        background-size: cover;
        font-family: "M PLUS Rounded 1c";
        font-size: 2vw;
        color: #fff;
        text-align: center;
        line-height:2.8;
    }
    
    .mamewaza_weather{
        display: none;
    }   
}

/*小さい画面のインフォメーショントップページ*/
@media(max-width:420px){
    .INFORMATION{
        width: 100%;
        height: 187.5vw;
        border: solid 1vw #000;
        border-right: 0px;
        border-left: 0px;
    }
    
    /*小さい画面サイズ*/
    .IN001{
        position: relative;
        width: 100%;
        height: 90vw;
        background-image:url(../image/tenki.jpg);
        background-size: cover;
    }
    /*次への文字サイズ*/
    .tugino05{
        text-align: center;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4vw;
        font-size: 6vw;
        line-height: 2.5;
    }
    
    /*次へのアイコン、サイズ*/
    .tugino05 i{
        font-size: 18vw;
        color: #fff;
    }
    .tugino03 i:hover{
        color:#000;
    }
    
    /*電話欄*/
    .denwa{
        width: 100%;
        height: 45vw;
        background-color:#3cf6;
        font-family: serif;
    }
    .denwa02{
        position: absolute;
        width: 80%;
        height: 32vw;
        background-color: #fff;
        margin-top: 3vw;
        margin-left: 7vw;
        padding: 3vw;
    }
    
    .otoi01{
        display: none;
    }
    .otoi02 i{
        display: inline-block;
        font-size: 4vw;
        width: 8vw;
        line-height: 8vw;
        margin-top: 0.2vw;
        margin-bottom: 0.4vw;
        border-radius: 50%;
        text-align: center;
        background-color:#000a;
        color: #fff;
    }
    
    .otoi02{
        text-align: center;
        font-size: 4.5vw;
        margin-top: 1vw;
    }
    .otoi02 a{
        text-decoration: none;
        font-size: 8.9vw;
        color: #000;
    }
    .otoi02 a:hover{
        color:cornflowerblue;
    }
    
    .otoi03{
        font-size: 2.5vw;
    }
    
    /*種類*/
    .sa-bi01{
       background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/otooku.jpg);
        background-position:bottom; 
    }
    .sa-bi02{
       background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/tizu01.png);
        background-position:bottom; 
    }
    .sa-bi03{
       background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/masa-ji.jpg);
        background-position:bottom; 
    }
    .sa-bi04{
       background-image:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.0)),url(../image/tenki02.jpg);
        background-position:bottom; 
    }
    
    .sa-bi01,.sa-bi02,.sa-bi03,.sa-bi04{
        width: 50%;
        height: 26vw;
        background-size: cover;
        font-size: 6vw;
        font-family: "M PLUS Rounded 1c";
        float: left;
        text-align: center;
        line-height:4.5;
    }

    .mamewaza_weather{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2vw;
        z-index: 80;
    }
}









/*フッター全体*/
footer {
    clear: both;
    margin-top: 10px;
    color: aliceblue;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(../image/footer.jpg);
    background-position: center;
    background-size: cover;
}

/*小さい画面*/
@media(max-width:768px){
    .footer {
        margin-top: 0px;
    }
}

footer .container { 
    padding: 20px 20px;
}

@media (min-width:768px){
    footer .container {
        display: flex;
    }
    
    .footA {
        flex: 0 0 40%;
    }
    
    .footB {
        flex: 0 0 60%;
    }
    
    .footC {
        flex: 0 0 100%;
    }
}

/*フッターA　サイト情報*/
.footA{
    margin-bottom: 10px;
}
.footA a{
    color: aliceblue;
    text-decoration: none;
}

/*フッターB　フッターメニュー*/
.footB div {
    margin-bottom: 10px;
}
.footB h3 {
    margin-top: 0;
    margin-bottom: 3px;
    border-bottom: solid 3px;
    font-size: 18px;
}
.footB ul {
    margin: 0;
    padding:0;
    list-style: none;
}
.footB a {
    display: block;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
.footB a:hover {
    background-color: rgba(0,0,0,0.3);
}

@media (min-width:768px){
    .footB {
        display: flex;
    }
    
    .footB div {
        flex: 1;
    }
    
    .footB div:not(:first-child){
        margin-left: 40px;
    }
}

/*フッターD　SNSメニュー*/
.footD {
    margin-top: 0px;
}
.footD ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footD a {
    display: block;
    padding: 0;
    color: aliceblue;
    font-size: 16px;
    margin-right: 25px;
    text-decoration: none;
    border: solid 2px currentColor;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 9px;
}
.footD a:hover {
    background-color: rgba(0,0,0,0.4);
}
/*フッターC　コピーライト*/
.footC {
    font-size: 15px;
    text-align: center;
    font-family: 'Montserrat',serif
}